<!DOCTYPE html>

<head >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="./css/style.css">
<link rel="stylesheet" type="text/css" href="./css/mobile.css">
<link rel="stylesheet" type="text/css" href="./css/print.css" media="print" />
<meta name="viewport" content="width=device-width" />
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="./scripts/javascript.js"></script>
<script src="./scripts/request.js" ></script>
<script src="./scripts/spin.js"></script>
<script src="./scripts/jquery.tablesorter.js"></script>
<script src="./scripts/formvalidate.js"></script>
<script src="./scripts/googlemap.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBI09O-x0D83VEEA_-emRBtZ6_-NV-9pfo&amp;sensor=false"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
</head>
<body>

	<div class="container">
		<div class="header"> 
			<p>E-valimised 2013 / Antud rakendus ei ole mõeldud kasutamiseks reaalsetel valimistel</p>
			<a id="mobile_home" href="index.html">Tagasi avalehele</a>
			<a id="login" href="">Logi sisse</a>
		</div>

