/*
	The mobile friendly layout
*/
@media all and (max-width:480px){
	.header {
		height:50px;
		padding:0px;
		margin:0px;
	}
	.header p {	
		float:none;
	}	
	.container {
	min-width:200px;
	position:relative;
	max-width:100%;
	margin:0em auto;
	height:inherit; /* IE6: treaded as min-height*/
	min-height:inherit; /* real browsers */

	}
	.part {
		position:relative;
		display: table;
		clear:both;
		width:100%;
		max-width:400px;
		border: 1px solid #000;
		margin:10px 0px;
		height:150px; /* IE6: treaded as min-height*/
		max-height:150px; /* real browsers */
		min-height:150px;
		
	
	}
	#login {
		position:relative;
		margin-right:0px;
		display: inline;
		
	}
	#mobile_home {
		color:#FFF;
	display:inline;
	float:left;
	}
	.content {
		height:inherit; /* IE6: treaded as min-height*/
		min-height:inherit; /* real browsers */
	}
	.link {
		position:relative;
		width:200px;
		display:table-cell;
		vertical-align:middle;
		text-align:left;
		padding:10px 0px 10px 10px;
		bottom:inherit;
	}
	#box {
		
	}

	.inner {	
	display:table-cell;
	background-position:right center;
	width:100%;
	height:100%;
	max-height:inherit;
	min-height:inherit;
	
	}
	
/* stat page */

	#searchby div {
	margin:1% 5%;
	clear:both;
	margin-bottom:30px;

	}
	#info{
	width:inherit;
	padding:4% 1%;
	margin-bottom:30px;
	}
	.submitvote { /* vote nupp */
	position:absolute;
	bottom:-25px;

	}
	#info p{
		width:200px;
	}

	.avalehele {
	display:none;
	}
	.avalehele:active {
	position:relative;
	top:11px;
	}
	.search { /* Otsi nupp */

	margin-left:0px;
	}
	
} 