html,body {
background-color:#1260cc;
font-family: Arial, sans-serif;



}


.header {
	height:20px;
	margin:2%;
}
.header p {	
	float:left;
	font-size:20px;
	padding:0px;
	margin:0px;
	margin-left:0px;
	font-weight:bold;
}
.container {
	position:relative;
	max-width:1000px;
	min-width:480px;
	margin:0em auto;

	

}
.part {
	position:relative;
	display:block;
	width:28.5%;
	max-width:100%;
	min-width:120px;
	float:left;
	border: 1px solid #000;
	margin:2%;
	max-height:250px; /* real browsers */
	min-height:120px;

	

}

#login {
	float:right;
	padding:0px;
	margin-right:20px;
	color: #FFF;
}

#logout {
	float:right;
	padding:0px;
	margin-right:20px;
	color: #FFF;
}

#mobile_home {
	display:none;
}
.link {	
	position:absolute;
	bottom:10px;
	width:100%;
	text-align:center;
	padding:0px;
	z-index:5;

}

.content {
	position:relative;
	/*border:1px solid #114578;
	background:#177de1;
	border-radius:4px;
	-moz-border-radius:4px;*/
}


.inner {position:relative;
	background-position:center;
	display:block;
	width:100%;
	max-height:250px;
	min-height:250px;
	

}

#searchby div {
	position:relative;
	float:left;	
	margin-right: 0.8%;
	margin-bottom:3%;


}

#searchby {
	
	position:relative;
	border:1px solid green;
	width:100%;
}


#info{

	position:relative;
	width:100%;
	padding:3%;
	padding-top:1%;
}

#info p {
	clear: both;
	width:100%;
}

.footer {
	height:30px;
}

/* vote nupp */
.submitvote { 
	margin-top:2%;
	float:right;


}
.avalehele {
		float:right;
	padding:2px;
	position:relative;
}



#byname{
	border-bottom:1px solid #125aa0;
	padding-top:40px;
	padding-bottom:20px;
}

/* Otsi nupp */
.search { 
	padding:5px;
	margin-left:10px;
	border-radius:4px;
	border:1px solid #eeb44f;
	display:inline-block;
}




.part {
	border-radius:4px;
	-moz-border-radius:4px; /* Old Firefox */
}

#part1{

}

#part2{
	/*background-color:#9900BB;*/
	background: #9900bb; /* Old browsers */

}
#part3{
	
	background: #6600ee; /* Old browsers */

	
}


#part1 .inner {
	background-image:url('images/add-candidate.png');
		background-repeat:no-repeat;
	background-size:contain;
}
#part2 .inner {
	background-image:url('images/vote.png');
	background-repeat:no-repeat;
	background-size:contain;
	
}
#part3 .inner {

	background-image:url('images/stats.png');
	background-repeat:no-repeat;
	background-size:contain;
	
}


.link a {
	font-size: 25px;
	letter-spacing: -1px;
	color: #FFF;
}


#box{
	height:auto;
	position:relative;
	width:94%;
	padding:3%;
	border:1px solid #114578;
	background:#177de1;
	border-radius:4px;
	-moz-border-radius:4px; /* Old Firefox */
	margin-left:auto;
	margin-right:auto;
	font-size: 12px;

}

#row1{
	float:left;
}
#row2{
	margin-left:5px;
	float:left;
}
.row2{
	margin-left:5px;
	float:left;
}

#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0;}
#selectable li { margin: 3px; padding: 0.4em; font-size: 12px; height: 18px; }

#run_info .error {
	border: 1px solid red;
}

.hid_err {
	color: red;
}
#hid_0 {
	display: none;
}

#hid_1 {
	display: none;
}

#hid_2 {
	display: none;
}

#hid_3 {
	display: none;
}

img.info{
	background-color:white;
	float:left;
	border:1px solid #125aa0;
	height:100px;
	width:100px;
	margin-bottom:2%;
}

#stat_table {
	position:relative;
}

.run {
	margin-top: 70px;
	float: right;
	
}.run:hover {

	background-color:#eeaf41;
}.run:active {
	position:relative;
	top:1px;
}




.intro{overflow:auto;}

						
table.tablesorter {

	width:100%;
	padding:0px;
	border-collapse:collapse;
	font-size: 12px;

}
table.tablesorter th {

	text-align: left;
	padding: 5px;
	background-color: #d8d8d8;

}

table.tablesorter td {
	
	padding: 5px;
}

table.tablesorter .even {
	background-color: #3D3D3D;
}
table.tablesorter .odd {
	background-color: #6E6E6E;
}
table.tablesorter .header {
	background-image: url(images/bg.png);
	background-repeat: no-repeat;

	
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url(images/asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(images/desc.png);
	background-repeat: no-repeat;
}
div#searchform {
	width:100%;
}
div#searchform select {
	padding:0.5%;
	width:150px;
	margin:0.5%;
	float:left;
	background: transparent;
	border-radius: 5px;
	border:none;
}

.searchform_part {
	float:left;
	margin:0.5%;
}


::-webkit-scrollbar {
	height:8px;
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color:#fb9e25;
}

#searchform select option:hover {
	background-color:#FFF;
}
#info {
	padding:3%;
	    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
#chosen_candidate {
	width:250px;
	margin-left:5%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
